@model Ejercicio5.Models.Pelicula

@{
    ViewData["Title"] = "Pelicula";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div id="principalVer">

    <div class="container">
        <img class="image1" src="~/images/banners/@(Model.Id)_b.jpg">
        <div class="overlay">
            <img class="image2" src="~/images/banners/@(Model.Id)_b.png">
        </div>

    </div>

    <div class="datosPelicula">
        <h1>@Model.Nombre</h1>
        <h2>
           @Model.FechaEstreno</h2>
            <p>
                @Model.Descripción
            </p>


            <div class="personajes">
                <h2>Personajes</h2>

            @foreach (var persona in Model.Apariciones)
            {
                <div>
                    <a>
                        <img src="~/images/personajes/@(persona.IdPersonajeNavigation.Id).jpg" alt="@persona.IdPersonajeNavigation.Nombre">
                    </a>
                    <div class="nombrePelicula">
                        <p>@persona.IdPersonajeNavigation.Nombre</p>
                    </div>
                </div>
            }

               

            </div>
    </div>
</div>